.container {
    width: 70%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
    .header-xs {
        text-align: center;
    }
}

.navbar-custom {
    font-family: 'PT Serif', serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

hr {
    width: 68%;
    margin-bottom: auto;
}

#nav-text-left {
    font-size: 1.6em;
    margin-top: 1em;
    padding-left: 0;
}

#nav-text-right {
    font-size: 1.6em;
    margin-top: 1em;
    padding-right: 0;
    text-align: right;
}

#subheading {
    font-size: 1.1em;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

h1 {
    font-size: 3.5em;
    margin-top: 0.5em;
    font-family: 'PT Serif', serif;
    text-align: left;
}

#syllabus_short {
    margin-top: 1.5em;
}

#search-heading {
    font-family: 'PT Serif', serif;
    text-align: center;
    padding-bottom: 0.25em;
}

h3 {
    font-family: 'PT Serif', serif;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

#bullet {
    margin-left: 1.2em;
    list-style: disc;
}

#syllabus-item {
    margin-bottom: 0em;
}

#announcements {
    margin-left: 0.5em;
    list-style:disc;
}

#note {
    font-size: 0.75em;
    font-style: italic;
}

#text-box {
    height: 50px;
    width: 50%;
    font-size: 1.2em;
    margin: auto;
}

#odd_week {
    background-color: white;
    border-right: solid 2px;
    border-right-color: lightgrey;
}

#even_week {
    background-color: white;
    border-right: solid 2px;
    border-right-color: lightgrey;
}

#table_right {
    border-right: solid 2px;
    border-right-color: lightgrey;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(240,240,240);
 }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(224,224,224) ;
}

#level-1 {
    margin-top: 1em;
    margin-left: 1em;
}

#level-2 {
    margin-left: 2em;
}


footer li {
    font-size: 0.75em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
}