.container {
    width: 82%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'PT Serif', serif;
    text-align: center;
    padding-top: 1em;
}

h2 {
    font-family: 'PT Serif', serif;
    text-align: center;
    padding-bottom: 0.5em;
}


h3 {
    font-family: 'PT Serif', serif;
}

ul {
    list-style: none;
}

#note {
    font-size: 0.75em;
    font-style: italic;
}

#syllabus_line {
    padding-bottom: 0.2em;
}

#text-box {
    height: 50px;
    width: 50%;
    font-size: 1.2em;
    margin: auto;
}

#odd_week {
    background-color: white;
    border-right: solid 2px;
    border-right-color: lightgrey;
}

#even_week {
    background-color: white;
    border-right: solid 2px;
    border-right-color: lightgrey;
}

#table_right {
    border-right: solid 2px;
    border-right-color: lightgrey;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(232,138,155,0.4);
 }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(232,138,155,0.6);
}

footer p {
    font-size: 0.75em;
    float: right;
}